page-signup {
  .list-md .item-block .item-inner {
    border-bottom: 2px solid springgreen;
  }
  .messages{
    padding-left: 30px;
    padding-top: 8px;
  }
  ion-label[fixed] {
    min-width: 150px;
  }
}
