  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-6><button>{{ answer1 }}</button></ion-col>
      <ion-col col-12 col-sm-6 col-md-6><button>{{ answer2 }}</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="answer3 != ''" col-12 col-sm-6 col-md-6><button>{{ answer3 }}</button></ion-col>
      <ion-col *ngIf="answer4 != ''" col-12 col-sm-6 col-md-6><button>{{ answer4 }}</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="answer5 != ''" col-12 col-sm-6 col-md-6><button>{{ answer5 }}</button></ion-col>
      <ion-col *ngIf="answer6 != ''" col-12 col-sm-6 col-md-6><button>{{ answer6 }}</button></ion-col>
    </ion-row>
  </ion-grid>
