<!-- Generated template for the SeqDragAndDropComponent component -->
<!--<div class='wrapper'>-->
  <!--<div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>-->
    <!--<div *ngFor='let text of many' [innerHtml]='text'></div>-->
  <!--</div>-->
  <!--<div class='container' [dragula]='"another-bag"' [dragulaModel]='many2'>-->
    <!--<div *ngFor='let text of many2' [innerHtml]='text'></div>-->
  <!--</div>-->
<!--</div>-->
<div class='wrapper'>
  <div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>
    <div *ngFor='let text of many' [innerHtml]='text'></div>
  </div>
  <div class='container' [dragula]='"another-bag"' [dragulaModel]='many2'>
    <div *ngFor='let text of many2' [innerHtml]='text'></div>
  </div>
</div>
