<ion-content class="no-scroll">
  <img [ngClass]="{'backgroundContrast': backgroundContrast}" [src]="backgroundImage | async" *ngIf="backgroundImage | async">
  <div class="overlay" [ngClass]="{'smallContent': !showDragAndDrop}">
    <h1 *ngIf="showPrimaryText" [style.color]="primaryTextColor" [ngClass]="{'italic': primaryTextItalic}">{{ primaryText }}</h1>
    <div class="codeWindow" [ngClass]="{'hide': !showCodeWindow}">
      <ace-editor [(text)]="code" #editor [mode]="'javascript'"></ace-editor>
      <button (click)="checkCodeChallenge()" [ngClass]="{'hide': !showCodeWindowSubmit}">Run code</button>
    </div>
    <seq-multiple-choice *ngIf="showMultipleChoice"
                         [answers]=multipleChoiceAnswers
                         (answerGiven)="checkSimpleAnswer($event)"></seq-multiple-choice>
    <seq-open-ended *ngIf="showOpenEnded"
                    (answerGiven)="checkSimpleAnswer($event)"></seq-open-ended>
    <seq-drag-and-drop *ngIf="showDragAndDrop"
                        [staticCode]=dragAndDropCode
                        [draggableCode]=draggableCode
                        (answer)="checkDragAndDrop($event)"></seq-drag-and-drop>
    <seq-end-page *ngIf="showEnding"
                  [score]=score
                  [message]=endMessage
                  [image]=endBanner></seq-end-page>
    <ion-fab class="nextButton" *ngIf="showNextButton" right bottom (click)="next()">
      <button ion-fab color="light">&gt;</button>
    </ion-fab>
    <ion-fab class="nextButton" *ngIf="showEndButton" right bottom (click)="stopSequence()">
      <button ion-fab color="light">&gt;</button>
    </ion-fab>
    <ion-fab class="hintButton" *ngIf="showHintButton" right top (click)="showHint()">
      <button ion-fab color="light">?</button>
    </ion-fab>
    <ion-fab class="returnButton" *ngIf="showReturnButton" left top (click)="returnToMenu()">
      <button ion-fab color="light">&lt;</button>
    </ion-fab>
  </div>
</ion-content>

