<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SCENES_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let scene of currentScenes | async; let i = index">
      <button ion-item (click)="onClick(scene)" [ngClass]="{'locked' : (story| async).scoreUser < scene.scoreReq}">
        <ion-avatar item-start>
          <img [src]="scene.image" />
        </ion-avatar>
        <h2>({{i}}) {{scene.name}}</h2>
        <div item-end *ngIf="(story | async).scoreUser < scene.scoreReq" class="lock_number">({{ scene.scoreReq }})</div><div item-end *ngIf="(story | async).scoreUser < scene.scoreReq" class="lock_icon"></div>
        <div item-end *ngIf="(story | async).scoreUser >= scene.scoreReq" class="intel" >{{scene.scoreUser}} / {{ scene.scoreMax }}</div>
      </button>

      <ion-item-options>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-footer *ngIf="(story | async).scoreUser > 0">
    <ion-toolbar>
      <ion-title>Intel: {{ (story | async).scoreUser }}</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
