page-scenes {
  .locked{
    color: gray;
  }
  .lock_icon{
    margin: auto;
    background: url('../assets/img/lock.png') transparent;
    background-size: 110%;
    width: 40px;
    height: 40px;
  }
}
