<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SCENES_TITLE' | translate }}</ion-title>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let scene of currentScenes | async">
      <button ion-item (click)="onClick(scene)" [ngClass]="{'locked' : totalIntel < scene.minIntel}">
      <!-- <button ion-item (click)="openItem(scene)"> -->
        <ion-avatar item-start>
          <!--<img [src]="scene.profilePic" />-->
        </ion-avatar>
        <h2>{{scene.name}}</h2>
        <div item-end *ngIf="totalIntel < minIntel[0][scene.id]" class="lock_icon" ></div>
        <div item-end *ngIf="totalIntel >= minIntel[0][scene.id]" class="intel" >{{userIntel[0][scene.id]}}</div>
        <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
      </button>

      <ion-item-options>
        <!-- <button ion-button color="danger" (click)="deleteItem(scene)">
          {{ 'DELETE_BUTTON' | translate }}
        </button> -->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
